.mytable tr {
    color: black;
    border-bottom: 0;
    border: 1px solid rgba(0,0,0,0.12);
}

.mytable tr td{
    padding: 1px 2px;
}

.myauction {
    color: red;
}

table { border-collapse: collapse; }
tr { display: block; float: left; }
th, td { display: block;}

#my-sortable {
    margin-left: 15px;
}