body {
    background-color: #333333;
    color: #e4e4e4;
}

nav {
    background-color: #444444;
}

nav ul a,
nav .brand-logo {
    color: #f1f1f1;
}

nav .brand-logo.right {
    right: 2rem;
}


.mytable {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.mytable tr {
    color: black;
    border-bottom: 0;
    border-right: 1px solid #000000;
    padding-left: 2px;
    padding-right: 2px;
}

.mytable tr td{
    padding: 1px 2px;
}

.myauction {
    color: red;
}

.stack-size-100 {
    color: #addaeb;
}

.stack-size-200 {
    color: #ffffff;
}

table { border-collapse: collapse; }
tr { display: block; float: left; }
th, td { display: block;}

#my-sortable {
    margin-left: 15px;
}

.collection .collection-item {
    padding: 4;
    background-color: #424242;
    border-bottom: 1px solid #272727;
}

.collection {
    border: 1px solid #272727;
}

.collection.my-collection {
    padding: 0;
}


.tabs {
    background-color: #333333;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #ffd67d;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active,
.tabs .tab a:hover {
    background-color: #6d6d6d50;
}

.tabs .tab a {
    color: #ffd67d;
}

.tabs .indicator {
    background-color: #a7a7a7;
}


.btn {
    background-color: #4e4e4e;
}

.btn:hover {
    background-color: #797979;
}

.btn.disabled {
    background-color: #969696 !important;
    color: #424242 !important;
}


#sort-list-category {
    margin-left: 15px;
}

#item-tabs {
    margin-bottom: 10px;
    margin-top: 4px;
}